.photo-grid {
    display:grid;
    gap: 1rem;
    height:85vh;
    padding:0.5rem;
    grid-template-areas:
    'a a'
    'b c'
     ;
    grid-template-rows: 18rem 18rem;
    grid-template-columns: 240px 240px;

    --stager-delay:100ms;
}


@keyframes cardEntrance {
    from{
        opacity:0;
        transform:scale(0.3);
    }
    to {
        opacity: 1;
        transform:scale(1);
    }

}
.card {
    animation:cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}
.card:nth-child(1) {
    grid-area:a;
    animation-delay: calc(1*var(--stagger-delay));
    
}

.card:nth-child(2) {
    grid-area:b;
    animation-delay: calc(4*var(--stagger-delay));
}
.card:nth-child(3) {
    grid-area:c;
    animation-delay: calc(4*var(--stagger-delay));
}